<section class="_404-section bg-gray-100">
    <div class="flex flex-col justify-center items-center">
        <img  class="w-64 h-64" src="../../../assets/404.png" alt="">
        <div class="text-center">
            <h2 class="text-[#DB1A1A] font-medium">Error 404 - Page Not Found</h2>
            <p>The page you requested could not be found.</p>
            <a routerLink="/" class="block py-4 my-4 w-1/2 mx-auto rounded-full bg-gray-800 text-white font-medium">Main Page</a>
        </div>
    </div>
</section>